.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    gap: 10px;
    justify-content: center;
    align-content: start;
    padding: 6px;
}
.no-article {
    text-align: center;
}