.top-header-left-buttons{
    margin: 0px;
}

.top-header-left-buttons li{
    list-style: none;
    display: inline-block;
}

.top-header-left-buttons .app-name  {
    padding-right: 15px  ;
}

.top-header-left-buttons .left-button {
    padding: 5px;
    font-size: 0.75em;
    cursor: pointer;
}

.top-header .active {
    font-size: 0.8em;
    margin: 2.5px;
    background-color: #BE2F3A ;
}