.red-button {
    border: 1px solid #98262E;
    background-color: white;
    color: #ED3B48;
    padding: 6px 26px;
    border-radius: 3px;
    font-size: 1.2em;
    margin-right: 8px;
}

.red-button:hover {
    background-color:#ED3B48;
    color: white;
}