.directory-menu{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px , 1fr));
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 7.5px;
  flex : 3;
  height: 100vh;
  align-content: start;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.directory-menu::-webkit-scrollbar {
  display: none;
}