.order-container {
  background-color: white;
  height: 100%;
  overflow: auto;
  padding: 6px;
}
.order-container li {
  list-style: none;
}

.order-container ul {
  padding: 0px;
  margin: 0px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted black;
}

.total{
  border-top: 2px solid black;
  width: 200px;
  margin-left: auto;
  margin-top: 16px;
  padding-top: 7.5px;
  text-align: center;
}

.order-container .no-item {
  box-sizing: border-box;
}

.order-container .no-item p {
  padding-top: 30%;
  margin: 0px;
}