.order-container {
  background-color: white;
  height: 100%;
  overflow: auto;
  padding: 6px;
}
.order-container .order-item li {
  list-style: none;
}

.order-container .order-item {
  cursor: pointer;
  border-top: 1px dotted black;
  padding: 2px;
  margin: 0px;
}

.order-container .order-item:hover {
  background-color: rgb(53, 190, 92 , 0.05);
}

.order-container .selected-item:hover {
  background-color: rgb(53, 190, 92 , 0.2);
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.selected-item{
  background-color: rgb(53, 190, 92 , 0.2);
}

.total{
  border-top: 2px solid black;
  width: 200px;
  margin-left: auto;
  margin-top: 16px;
  padding-top: 7.5px;
  text-align: center;
}

.order-container .no-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}